{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vero nihil quam accusantium deleniti culpa nemo, vel nobis, placeat nam commodi ab saepe. Tempore delectus vitae, blanditiis laboriosam iusto, accusamus enim tempora suscipit iste aspernatur doloribus labore optio quae minima praesentium doloremque impedit repellat soluta libero illum amet voluptatibus? Cupiditate aliquam voluptas sit, dolores perferendis minima. Molestiae placeat assumenda deserunt, nobis nam ex distinctio commodi eius ducimus incidunt. Laudantium consequuntur officia esse. Unde, numquam? Unde adipisci magni nam atque? Culpa provident quidem nesciunt laboriosam, architecto, enim eius ex harum iure consequatur nobis autem aliquam, magnam beatae mollitia quae velit nemo!</p>
            <div class="container text-center">
                <a class="btn btn-secondary" href="/signin/">Sign In</a>
                <a class="btn btn-dark" href="/signup/">Sign Up</a>
            </div>
        </section>
    </main>

{% endblock %}



